<!DOCTYPE html>
<html>
<head>
    <% include ../../../partials/head %>
</head>
<body>
<% include ../../../partials/header %>
<div class = "container container-background text-center" style="width:50%">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-block btn-primary">Partner</button>
        </div>
        <br>
        <br>
        <br>
        <div class="col-6">
            <button type="button" class="btn btn-block btn-primary">Partner</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-block btn-primary">Organization</button>
        </div>
        <br>
        <br>
        <div class="col-6">
            <button type="button" class="btn btn-block btn-primary">Price</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-block btn-primary">Campaign</button>
        </div>

    </div>
</div>
</div>
<% include ../../../partials/footer %>
</body>
