<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <h3 class="nav-link" href="/">queroajudar.pt</h3>
    </a>
    <div class="collapse navbar-collapse navbar-brand" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/associacoes">Associações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/campanhas">Campanhas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/parceiros">Parceiros</a>
            </li>
            <li class="nav-item" style="text-align:center;">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#authenticationModal2">
                    Quero Ajudar
                </button>
            </li>
        </ul>
    </div>
</nav>