body {
  font-family: 'Montserrat', sans-serif;
  background: url(/images/background.jpg);
  background-size:100%;
  width: 100%;
}

.img-fluid {
  max-width: 45%;
  height: auto;
}

#moneyBag {
  height: 200px;
  width: auto;
}

#partners {
  height: auto;
  width: 50%;
}

.container-background {
  background-color: #ffffff7d;
}

a {
  color: #00B7FF;
}
