body {
  font-family: 'Montserrat', sans-serif;
  background: url(/images/background.jpg);
  background-size:100%;
  width: 100%;
}

#img-prize {
  max-width: 45%;
  height: auto;
}

#moneyBag {
  height: 200px;
  width: auto;
}

.partners {
  height: auto;
  width: 50%;
}

.container-background {
  background-color: rgba(255, 255, 255, 0.5);
}

.rightBorder {
  border-right-style:solid;
  border-right-width: thin;
}

a {
  color: #00B7FF;
}

.transparent{
  opacity: 0.4;
}
.scrollable {
  height: 600px; /* or any value */
  overflow-y: auto;
}

.topBuffer{
  padding-top: 2.5em;
}
.lowerBuffer{
  padding-bottom: 2em;
}

.smallTopBuffer{
  padding-top:0.5em;
}



div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

.border-campaign {
  border-style: solid;
  border-width: medium;
  border-color: darkgray;
  background: lightgray;
  border-radius: 15px;
  padding-top: 2px;
}

footer {
  background-color: #212529;
}

.card {
  width: 100%;
  height: 600px;
}

#map {
  height: 600px;
}

.mediumFont {
  font-weight: bolder;
  font-size: 100px;
}

.bigFont {
  font-size: 60px;
}

.paddingBottom {
  padding-top: 100px;
}

.paddingTop {
  padding-top: 150px;
}