<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center modal-header">
                <h3><b>Quero Ajudar</b></h3>
            </div>
            <div class="modal-body">
                <form method="post" action="/users/donate">
                    <div id="quantityContainer">
                        <div class="form-group text-center">
                            <span><b>Quantia</b></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="number" name="amount" min="1" required>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="goToCategory btn btn-primary btn-block">Depois</button>
                            </div>
                        </div>
                    </div>
                    <div id="categoryContainer" style="display:none">
                        <div class="form-group text-left">
                            <span><b>Category</b></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 text-center">
                                <input type="radio" name="category" checked>Todos<br>
                                <input type="radio" name="category">Categoria1<br>
                                <input type="radio" name="category">Categoria2<br>
                                <input type="radio" name="category">Categoria3<br>
                                <input type="radio" name="category">Categoria4<br>
                                <input type="radio" name="category">Categoria5<br>
                                <input type="radio" name="category">Categoria6<br>
                                <input type="radio" name="category">Categoria7<br>
                            </div>
                            <div class="form-group col-sm-6 text-center">
                                <input type="radio" name="category">Categoria1<br>
                                <input type="radio" name="category">Categoria2<br>
                                <input type="radio" name="category">Categoria3<br>
                                <input type="radio" name="category">Categoria4<br>
                                <input type="radio" name="category">Categoria5<br>
                                <input type="radio" name="category">Categoria6<br>
                                <input type="radio" name="category">Categoria7<br>
                                <input type="radio" name="category">Categoria8<br>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <button type="button" class="goToQuantity btn btn-primary btn-block">Antes</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="goToLocation  btn-primary btn btn-block">Depois</button>
                            </div>
                        </div>
                    </div>
                    <div id="locationContainer" style="display:none">
                        <div class="form-group">
                            <span><b>Localização</b></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 text-center">
                                <input type="radio" name="location" checked>Todos<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                            </div>
                            <div class="form-group col-sm-6 text-center">
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                                <input type="radio" name="location">Localização<br>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <button type="button" class="goToCategory btn btn-primary btn-block">Antes</button>
                            </div>
                            <div class="col-sm-6">
                                <button <%if(userLogged){ %>id="nextBtn1"<% } else {%> id="authenticateBtn1" <%}%>
                                class="btn btn-primary btn-block" type="button">Seguinte</button>
                            </div>
                        </div>
                    </div>

                    <div id="checkDonationContainer1" style="display:none">
                        <div class="form-group text-center">
                            <span id="checkDonationWithValue">Certeza que quer doar para este site e merda</span>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <button type="button" class="goToQuantity1 btn btn-primary btn-block">Back</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="goToPayment1 btn btn-primary btn-block">Seguinte</button>
                            </div>
                        </div>
                    </div>
                    <div id="paymentContainer1" style="display:none">
                        <div class="form-group text-center">
                            <h2>Métodos de Pagamento</h2>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-block btn-primary">Paypalee</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>