<!DOCTYPE html>
<html>
<head>
    <% include ../../partials/head %>
</head>
<body>
<% include ../../partials/header %>
<div class = "container container-background text-dark">


    <div class="row">

        <div class="col-12">
            <h1 class="text-center">Organizações</h1>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center">
            <div class="card">
                <img class="card-img-top" src="/images/organizations/bancoAlimentar.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Banco Alimentar</h5>
                    <p class="card-text">Uma resposta necessária, porque "toda a pessoa tem direito a um nível de vida suficiente que lhe assegure e à sua família, a saúde e o bem-estar..."</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saber Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center">
            <div class="card">
                <img class="card-img-top" src="/images/organizations/caritas.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cáritas</h5>
                    <p class="card-text">A Cáritas Portuguesa tem como missão o desenvolvimento humano e a defesa do bem comum...</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saber Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center">
            <div class="card">
                <img class="card-img-top" src="/images/organizations/ligaPortuguesaContraCancro.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Liga Portuguesa Contra o Cancro</h5>
                    <p class="card-text">Entidade de referência nacional no apoio ao doente oncológico, na promoção da saúde e na prevenção do cancro.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saber Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center">
            <div class="card">
                <img class="card-img-top" src="/images/organizations/apav.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Associação Portuguesa de Apoio à Vítima</h5>
                    <p class="card-text">A APAV tem como missão apoiar as vítimas de crime, suas famílias e amigos, prestando-lhes serviços de qualidade, gratuitos e confidenciais.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saber Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/modal %>
<% include ../../partials/footer %>
<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
</body>
</html>