<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class = "container">


    <div class="row">

        <div class="col-12">
            <h1 class="text-center">Total</h1>
        </div>

        <div class="col-12">
            <h1 class="text-center">1.123.123 €</h1>
        </div>

        <div class="col-12 text-center">
            <i class="fas fa-money-bill-alt fa-10x"></i>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Dado 1</h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center">12345</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Dado 2</h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center">67890</h1>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-outline-primary">Quero Ajudar</button>
        </div>
    </div>
</div>
<% include ../partials/modal %>
<% include ../partials/footer %>
<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
</body>
</html>