<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class = "container container-background text-dark">


    <div class="row">

        <div class="col-12">
            <h1 class="text-center">Montante Total Angariado</h1>
        </div>

        <div class="col-12">
            <h1 class="text-center">1.123.123 €</h1>
        </div>

        <div class="col-12 text-center">
            <img src="/images/moneyBag.png" id="moneyBag">
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Dado 1</h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center">12345</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Dado 2</h1>
                </div>
                <div class="col-12">
                    <h1 class="text-center">67890</h1>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary btn-lg">Quero Ajudar</button>
        </div>

        <div class="col-12">
            <h1 class="text-center">Prémios</h1>
        </div>

        <div class="col-md-6">
        <div class="row">
            <div class="col-12">
                <p class="text-center">Ao ajudar quem mais precisa habilita-se a ganhar todos os meses uma grande variedade de prémios!</p>
            </div>
        </div>
    </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="/images/ps4.png" class="img-fluid">
                </div>
            </div>
        </div>


    </div>
</div>
<% include ../partials/modal %>
<% include ../partials/footer %>
<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
</body>
</html>