<!DOCTYPE html>
<html>
<head>
    <% include ../../partials/head %>
</head>
<body>
<% include ../../partials/header %>
<div class = "container container-background">
    <div class="text-center">
        <h1><%= __('PARCEIROS2') %></h1>
    </div>
    <div class="row text-center topBuffer">
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
        <div class="col-4 col-md-4 topBuffer">
            <img src="./images/google_icon.png" alt="Company logo" style="width:200px;height:200px">
        </div>
    </div>
</div>
<% include ../../partials/modal %>
<% include ../../partials/footer %>
</body>
</html>